.markdown-view {
  padding: 30px;
  border: 0px none;

  h1 {
    border-bottom: 1px solid #EEE;
  }

  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #EEE;
  }

  p {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  ul {
    padding-left: 2em;
  }
}
